body {	
	color: #fff;
	background-color: #4E0B4D;
	background-image: url("../../assets/images/martianchronicles.jpg");
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: width 90%;
}

.container {
	display: block;
	position: 50% 50%;
	margin: 80px;
	width: 60%;
	height: 90hz;
}

p {
	color: #4E0B4D;
	background-color: #97C6BD;
	font-family: 'Roboto Mono', monospace;
}

h1 {
	text-decoration: bolder;
	font-size: 200%;
	font-family: 'Roboto Mono', monospace;
	background-color: #4E0B4D;
	margin: 20px 20px 20px 0;
	width: 100%;
	padding-left: 0px;
}

.instructions {
	padding: 20px;
	background-color: #97C6BD;
	float: left;
	width: 624px;
	opacity: .9;
	clear: both;
}

/* typing animation */
.mission, #one, #two, #three, #four, #five {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	animation: type 4s steps(60, end); 
}

span {
  animation: blink 1s infinite;
}

#one {
	opacity: 0;
	-webkit-animation:  5s steps(60, end);
	animation: type 5s steps(60, end);
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#two {
	opacity: 0;
	-webkit-animation:  5s steps(60, end);
	animation: type 5s steps(60, end);
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#three {
	opacity: 0;
	-webkit-animation:  5s steps(60, end);
	animation: type 5s steps(60, end);
	-webkit-animation-delay: 12s;
	animation-delay: 12s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#four {
	opacity: 0;
	-webkit-animation:  5s steps(60, end);
	animation: type 5s steps(60, end);
	-webkit-animation-delay: 17s;
	animation-delay: 17s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#five {
	opacity: 0;
	-webkit-animation:  5s steps(60, end);
	animation: type 5s steps(60, end);
	-webkit-animation-delay: 22s;
	animation-delay: 22s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes type {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	to{
		opacity: 0;
	}
}


.stars {
	width: 416px;
	height: 103px;
	float: left;
	border: 2px solid #4E0B4D;
	background-color: #fff;
	display: inline-flex;
	clear: both;
	opacity: .7;
}

img {
	border: #4E0B4D solid 1px;
	margin: 1px;
}

.goal {
	background-color: #fff;
	float: right;
	border: 2px solid #4E0B4D;
	position: relative;
	color: #4E0B4D;
	width: 60px;
	height: 70px;
	margin: 50px;
	opacity: .8;
	clear: both;
}

.numberTarget {
	background-color: #fff;
	float: right;
	border: 2px solid #4E0B4D;
	color: #4E0B4D;
	width: 80px;
	height: 130px;
	margin: 50px;
	clear: both;
}

.score {
	background-color: #fff;
	float: left;
	border: 2px solid #4E0B4D;
	color: #4E0B4D;
	width: 90px;
	height: 70px;
	margin: 50px;
	opacity: .8;
	clear: both;
}

#score, #wins, #losses, #numberGoal {
	text-align: center;
	margin: 5px;
	font-size: 230%;
}


/* optimization for mobile view - still needs work */
@media only screen and (max-width: 640px) {
	body {
		background-image: url("../../assets/images/martianchroniclesmobile.jpg");
		background-position: 0% 0%;
		background-size: 100%;
	}
}
@media only screen and (max-width: 640px) {
	h1 {
		font-size: 150%;
	}
}
@media only screen and (max-width: 640px) {
	.container {
		position: relative;
		height: 90hz;
		margin: 2px;
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	.stars {
		width: 416px;
		height: 103px;
		float: left;
		border: 2px solid #4E0B4D;
		background-color: #fff;
		display: block;
		clear: both;
		opacity: 85%;
	}
}

@media only screen and (max-width: 640px) {
	.goal {
		background-color: #fff;
		float: right;
		border: 2px solid #4E0B4D;
		position: relative;
		color: #4E0B4D;
		width: 60px;
		height: 80px;
		margin: 50px;
		opacity: .85;
		clear: both;
	}
}

@media only screen and (max-width: 640px) {
	.numberTarget {
		background-color: #fff;
		float: right;
		border: 2px solid #4E0B4D;
		color: #4E0B4D;
		width: 30%;
		height: 115hz;
		margin: 2px;
		clear: both;
	}
}

@media only screen and (max-width: 640px) {
	.score {
		background-color: #fff;
		float: left;
		border: 2px solid #4E0B4D;
		color: #4E0B4D;
		width: 50%;
		height: 40hz;
		margin: 2px;
		opacity: .85;
		clear: both;
	}
}


@media only screen and (max-width: 640px) {
	img {

	}
}
@media only screen and (max-width: 640px) {
	.instructions {
		display: block;
		width: 100%;
	}
}
@media only screen and (max-width: 640px) {
	#score, #wins, #losses, #numberGoal {
		width: 30%;
		clear: both;
	}
}
